body {
    background-color: rgb(252, 189, 174);
}

.tab {
    text-align: center;
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: red;
}

h1 {
    text-align: center;
    color: red;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.tab1 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: red;
    
}
hr {
    border-style: dotted none none;
    border-color: red;
    border-width: 5px;
    width: 10%;
}

footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    color: red;
}